/*  ALL THE CSS IN HERE IS FOR PHONE */
body {
    font-family: 'Merriweather', serif;
    margin: 0px;
}

main {
    margin: 0px;
}

.pgTitle {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    background-color: #2D3945;
    color: #FFF;
    margin-top: 0px;
    padding: 1.4rem;
}

.news-letter {
    font-family: 'Merriweather', serif;
    color: #2D3945;
    font-weight: 900;
    font-size: 1.2rem;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.news-slogan {
    color: #B6BABE;
    margin: 9px 0 23px 0;
    padding: 0 15px 10px 15px;
    font-size: .85rem;
}

.line-one {
    border-bottom: black solid .25rem;
    margin: .75rem;
    margin-bottom: 2px;
}

.line-two {
    border-bottom: black solid .15rem;
    margin: .75rem;
    margin-top: 3px;
}

.news-letter,
.news-slogan {
    text-align: center;
}

fieldset {
    border: none;
}

.info-NewsL {
    text-align: left;
    font-size: 1.1rem;
    font-weight: 900;
    padding: 10px 0 0 0;
    /* margin-bottom: 80px; */
}

.info-NewsL-slog {
    color: #6E7D8D;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 10px 0 0 5px;
    margin-top: 3px;
    margin-bottom: 15px;
}

.contact-info {
    font-weight: 300;
    font-size: 1.2rem;
    margin-left: 2px;
    padding: 6px 8px 9px 9px;
    height: 714px;
}

.client-info {
    text-align: left;
    font-size: .89rem;
    font-weight: 300;
    color: #6E7E8C;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 8px 5px 0;
}

.client-field-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-weight: 300;
    font-style: italic;
    color: #6E7E8C;
    background-color: #EBEBEB;
    height: 45px;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

.state-client-field-info {
    border: none;
    border-radius: 5px;
    font-weight: 400;
    color: #6E7E8C;
    background-color: #EBEBEB;
    height: 48px;
    width: 102%;
    margin-top: 10px;
    /* element use for the state drop-down menu **ONLY** */
}

.zip-input {
    font-weight: 300;
    color: #6E7E8C;
    background-color: #EBEBEB;
    width: 50%;
    height: 40px;
    margin-top: 9px;
    border: none;
    border-radius: 5px;
}

input::placeholder {
    text-align: right;
    font-size: .73rem;
    font-weight: 300;
    margin-right: 10px;
}

.news-choice {
    font-weight: 300;
    color: #6E7E8C;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.textarea {
    background-color: #EBEBEB;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}

.submit-btn {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 18px 60px;
    border: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #4EBBB5;
    border-radius: 5px;
    background-color: #4EBBB5;
    color: white;
}

.copy-r {
    text-align: center;
    color: #9DA3A8;
    font-style: italic;
    font-weight: 300;
    padding-top: 3px;
    padding-bottom: 8px;
    margin-top: 16px;
    margin-bottom: 9rem;
}

/* Phone ends here */

/* This starts your rules for desktop/laptop */

@media screen and (min-width: 768px) {
    body {
        /* width: 100%; */
        align-items: center;
        font-family: 'Merriweather', serif;
    }

    .pgTitle {
        text-align: center;
    }

    .contact-info {
        font-weight: 300;
        font-size: 1.2rem;
        align-items: center;
    }

    .line-two {
        align-items: center;
        /* width: 663px; */
        margin: 2px 60 2px 60px;
        border-bottom: black solid .15rem;
    }

    .line-one {
        align-items: center;
        /* width: 663px; */
        margin: 12px 60 2px 60px;
        border-bottom: 4px;
        border-bottom: black solid .25rem;
    }

    form {
        /* width: 700px; */
        height: 1337px;
        padding-left: 1px;
        margin-left: 44px;
    }

    .client-field-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-weight: 300;
        font-style: italic;
        color: #6E7E8C;
        background-color: #EBEBEB;
        height: 40px;
        padding: 5px 2px;
        margin: 3px;
    }

    .client-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 300;
        color: #6E7E8C;
    }

    .news-choice {
        display: flex;
        /* figure flexbox */
        flex-direction: column;
        justify-content: flex-end;
        font-weight: 300;
        color: #6E7E8C;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .news-letter {
        text-align: center;
    }

    fieldset {
        border: none;

    }
}

/* Desktop / laptop rules ends here */