/*  ALL THE CSS IN HERE IS FOR PHONE */
body {
    /* font-family: 'Merriweather', serif; */
    margin: 0px;
}

main {
    margin: 0px;
}

.pgTitle {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    background-color: #2D3945;
    color: #FFF;
    margin-top: 0px;
    padding: 1.4rem;
}

.news-letter {
    font-family: 'Merriweather', serif;
    color: #2D3945;
    font-weight: 900;
    font-size: 1.2rem;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 25px;
    margin-bottom: 5px;

}

.news-slogan {
    color: #B6BABE;
    margin: 9px 0 23px 0;
    padding: 0 15px 10px 15px;
    font-size: 18px;
}

.line-one {
    border-bottom: black solid .25rem;
    margin: .75rem;
    margin-bottom: 2px;
}

.line-two {
    border-bottom: black solid .15rem;
    margin: .75rem;
    margin-top: 3px;
}

.news-letter,
.news-slogan {
    text-align: center;
}

fieldset {
    border: none;
}

.info-NewsL {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 900;
    padding: 10px 0 0 0;
    margin-bottom: 3px;
}

.info-NewsL-slog {
    color: #6E7D8D;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 10px 0 0 5px;
    margin-top: 3px;
    margin-bottom: 15px;
}

.contact-info {
    font-weight: 300;
    font-size: 1.2rem;
}

.client-info {
    text-align: left;
    font-weight: 300;
    /* margin: ; */
    /* investigate why I was working on a margin! */
    color: #6E7E8C;
}

.client-field-info {
    text-align: right;
    font-weight: 300;
    font-style: italic;
    color: #6E7E8C;
    /* padding: 16px 88px 16px 33px; */
    width: 275px;
    height: 40px;
    padding: 5px 2px;
    border: 2px;
    /* padding-right: 5px 17px 5px 1px; */
    margin: 3px;
    /* margin-bottom: 10px; */
    /* border: 2px;
    border-left: 1px; */
}

input::placeholder {
    text-align: right;
}



/* Phone ends here */

/* This starts your rules for desktop/laptop */

@media screen and (min-width: 768px) {
    body {
        font-family: 'Merriweather', serif;
    }

    .pgTitle {
        text-align: center;
    }

    .news-letter {
        text-align: center;
    }

    fieldset {
        border: none;

    }
}

/* Desktop / laptop rules ends here */